.closure {
  text-align: center;
}

.counter {
  display: block;
  margin-bottom: 10px;
}

.closure button {
  width: 70px;
  height: 40px;
  background-color: #f5f4e9;
  border-width: 3px;
  border-color: green;
  border-radius: 10px;
}