@import 'roboto.css';
@import "~normalize.css";

body {
	font-family: 'Roboto', sans-serif;
}

.main-header {
	border: 2px solid rgb(111,41,97);
}

.main-header__head {
	text-align: center;
}

.main-header__logo {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: url("../assets/images/logo.png");
	background-size: cover;
}